[submodule "libs/bsyncio"]
	path = libs/bsyncio
	url = git@gitlab.com:slumber/bsyncio.git
[submodule "libs/esper"]
	path = libs/esper
	url = https://github.com/benmoran56/esper.git
[submodule "libs/pyzmq"]
	path = libs/pyzmq
	url = https://github.com/zeromq/pyzmq.git
[submodule "libs/zmq"]
	path = libs/zmq
	url = git@gitlab.com:slumber/zmq_package.git
