deploy:
  stage: deploy
  image: docker:dind
  before_script:
  # docker login asks for the password to be passed through stdin for security
  # we use $CI_JOB_TOKEN here which is a special token provided by GitLab
  - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  script:
    # - VERSION="$(python scripts/get_replication_version.py)"
    # - echo "Building docker image with version ${VERSION}"
    - docker build --build-arg version=${VERSION} -t registry.gitlab.com/slumber/multi-user/multi-user-server:0.1.0 ./scripts/docker_server
    - echo "Pushing to gitlab registry ${VERSION}"
    - docker push registry.gitlab.com/slumber/multi-user/multi-user-server:0.1.0 
