deploy:
  stage: deploy
  image: slumber/docker-python  
  variables:
    DOCKER_DRIVER: overlay2
    # Create the certificates inside this directory for both the server
    # and client. The certificates used by the client will be created in
    # /certs/client so we only need to share this directory with the
    # volume mount in `config.toml`.
    DOCKER_TLS_CERTDIR: "/certs"
  
  services:
  - docker:19.03.12-dind

  # variables:
  #   # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  #   DOCKER_HOST: tcp://docker:2376
    # DOCKER_TLS_CERTDIR: "/certs"

  script:
    - VERSION="$(python scripts/get_replication_version.py)"
    - echo "Building docker image with version ${VERSION}"
    - docker build --build-arg version=${VERSION} -t registry.gitlab.com/slumber/multi-user/multi-user-server:0.1.0 ./scripts/docker_server
    - echo "Pushing to gitlab registry ${VERSION}"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push registry.gitlab.com/slumber/multi-user/multi-user-server:0.1.0 
