deploy:
  stage: deploy
  image: slumber/docker-python  
  variables:
    DOCKER_DRIVER: overlay2
    # Create the certificates inside this directory for both the server
    # and client. The certificates used by the client will be created in
    # /certs/client so we only need to share this directory with the
    # volume mount in `config.toml`.
    DOCKER_TLS_CERTDIR: "/certs"
  
  services:
  - docker:19.03.12-dind

  before_script:
    - docker info
    - docker login -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD $CI_REGISTRY
 
  script:
    - VERSION="$(python scripts/get_replication_version.py)"
    - echo "Building docker image with version ${VERSION}"
    - docker build --build-arg version=${VERSION} -t registry.gitlab.com/slumber/multi-user/multi-user-server:0.1.0 ./scripts/docker_server
    - echo "Pushing to gitlab registry ${VERSION}"
    - docker push registry.gitlab.com/slumber/multi-user/multi-user-server:0.1.0 
