pages:
  stage: doc
  needs: ["deploy"]
  image: python
  script:
  - pip install -U sphinx sphinx_rtd_theme sphinx-material
  - sphinx-build -b html ./docs public
  artifacts:
    paths:
    - public
  only:
    refs:
    - master
    - develop


