image: debian:latest

pytest:
  stage: test
  script:
    - apt-get update -y
    - apt-get install -y python3 python3-pip
    - pip3 install -r requirements.txt
    - pytest --junitxml=report.xml
  artifacts:
    when: always
    reports:  
      junit: report.xml